/*
Devin Brueberg
 CSC435 Adv Web App Development
 Assignment 1 - App.css for App.js component
 March 3, 2021
 */

 /* Setting the App component to a extend the entire 
    container and be white.
 */
.App {
  background-color: white;
  height: 100%;
}

/*  The main header will be dark red and overflow 
    will be hidden
*/
h1 {
  color: darkred;
  text-align: center;
  overflow: hidden;
}

/*  The ul that holds the name, class, and date will 
    be in a horizontal flex box that will wrap when 
    the viewport is shrunk.
*/
#flex ul {
  color: purple;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: .2em;
  padding-left: 0;
  overflow: hidden;
}

/* Adding some padding to the li.
*/
#flex li {
  padding: .5rem;
}